<h1>Variables</h1>

<div style="text-align: center;"><strong>A variable is a form of memory, a simple way to store information in an accessible way.</strong></div>

<p>
    Why do we do it though?
    <br>
    There are several reasons why you want to do that, let's see them together.
</p>

<div class="reason">
    <span class="reason__title">For Simplicity:</span>
    
    <br>
    <br>
    Suppose you go to the swimming pool and you leave your stuff in a locker, how do you know which locker was yours?
    <br>
    You are probably familiar with the greek letter <b>&pi;</b>, which is equivalent to <b>3.1415926535897932384626433832795028...</b> well, a very long number!!
    Imagine you have to write this number every time you calculate the area of a circle, it would be a nightmare!!! So, instead, you use the letter &pi;
    which means the same thing, but it's easier to remember and to write.
    <br>
</div>


In programming, this is exactly what you do most of the time: you create a variable to store some data (numbers, texts, operations etc.) which will be used later on.
<br>


Suppose it's you birthday, and you want to invite your friends. To do so, you decide to send a letter to each of them with the following text:

<i>
    "Dear ......, as next Saturday it is my birthday, I want to invite you for dinner at the Italian restaurant "Gigi's" at 8:00 PM.
    Please let me know if you can come :)"
</i>

This message is not very long, but imagine you have 50 friends that you want to invite! You would have to write the same thing over and over....
In programming you would instead use a variable to store the message


Because We don't know a value yet:





Suppose you want to call a friend of yours and you have his number saved in your smartphone contact list. 
All you have to do is open the contact list app, search for the name of your friend and call him, right?
As you associated your friend's number with a name, this is a pretty easy operation, but what if you had to remember the actual number?
